
/* FONTS */

/* micro */
@font-face {
    font-family: "Recursive Mono Micro Light";
    src: url("fonts/RecursiveMonov0.0.11-MicroLight.otf");
}
@font-face {
    font-family: "Recursive Mono Micro Regular";
    src: url("fonts/RecursiveMonov0.0.11-MicroRegular.otf");
}
@font-face {
    font-family: "Recursive Mono Micro Medium";
    src: url("fonts/RecursiveMonov0.0.11-MicroMedium.otf");
}
@font-face {
    font-family: "Recursive Mono Micro Bold";
    src: url("fonts/RecursiveMonov0.0.11-MicroBold.otf");
}

/* text */

@font-face {
    font-family: "Recursive Mono Text Light";
    src: url("fonts/RecursiveMonov0.0.11-TextLight.otf");
}
@font-face {
    font-family: "Recursive Mono Text Regular";
    src: url("fonts/RecursiveMonov0.0.11-TextRegular.otf");
}
@font-face {
    font-family: "Recursive Mono Text Medium";
    src: url("fonts/RecursiveMonov0.0.11-TextMedium.otf");
}
@font-face {
    font-family: "Recursive Mono Text Bold";
    src: url("fonts/RecursiveMonov0.0.11-TextBold.otf");
}

