/* RESET */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    margin: 0;
    overflow-x: hidden;
    font-family:  var(--micro-reg);
}

@media


* {
    /* font-family: var(--micro-reg), Menlo, monospace; */
    /* font-family: "RecursiveMonov0.0.11-TextBold", Menlo; */
}

header {
    background-color: black;
    color: white;
    padding: 2vw;
    font-family: var(--text-bold);
}

/* GRID */

.page {
    padding: 2vw;
    overflow-x: hidden;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fit, 100px); */
    grid-template-rows: repeat(auto-fit, minmax(40px, auto));
    align-items: flex-start;
    border-bottom: 1px black solid;
    font-family:  var(--micro-reg), "IBM Plex Mono Thin", monospace;
}

@media print {
    .page {
        border-bottom: none;
        size: landscape;
    }
}

@page {
    margin: 18pt;
    size: landscape;
}

.page h2 {
    grid-column: 1 / -1;
    margin: 0;
}

.alphabet {
    font-size: 4rem;
    line-height: 4rem;
    margin:1rem 0;
    grid-column: 1 / -1;
    word-wrap: break-word;
    
}

.large-text {
    font-size: 20pt;
    line-height: 1.25;
    grid-column: 1 / span 4;
}

.small-text {
    font-size: 10pt;
    line-height: 1.5;
    grid-column: auto / span 6;
}

.caption {
    font-size: 10pt;
    line-height: 1.5;
    font-color: #444;
}

